<app-display [isTableShown]="isTableShown"
             tableName="Users"
               [columnNames]="users | keys"
               [rows]="users | filter: keyToFilterOn: valueToFilterOn | sortBy: propertyToSortBy"
             (selectedRow)="select($event)">

</app-display>

<app-control [keys]="users | keys"
             [propertiesToSortBy]="['name', 'surname', 'professionName']"
             [values]="users
         | allValuesForProp: keyToFilterOn
         | unique"
             [isTableShown]="isTableShown"
             (toggleTable)="isTableShown =! isTableShown"
             (keyToFilterOn)="keyToFilterOn = $event"
             (valueToFilterOn)="valueToFilterOn = $event"
             (propertyToSortBy)="propertyToSortBy = $event">
</app-control>


<span *ngFor="let fib of this">{{fib}} </span>
<hr>
<div appShowDescription="description of the div">
  What is this div about?
</div>


<div *appColorGenerator="3; let color" [style.color]="color">{{color}}</div>



















<!--<button (click)="select()"> selectUser </button>-->
<!--<app-display [isTableShown]="isTableShown"-->
<!--             [columnNames]="toDos | keys"-->
<!--             [rows]="toDos | filter: keyToFilterOn: valueToFilterOn | sortBy: propertyToSortBy">-->

<!--</app-display>-->

<!--<app-control [keys]="toDos | keys"-->
<!--             [propertiesToSortBy]="toDos | keys"-->
<!--             [values]="toDos-->
<!--         | allValuesForProp: keyToFilterOn-->
<!--         | unique"-->
<!--             (toggleTable)="isTableShown =! isTableShown"-->
<!--             (keyToFilterOn)="keyToFilterOn = $event"-->
<!--             (valueToFilterOn)="valueToFilterOn = $event"-->
<!--             (propertyToSortBy)="propertyToSortBy = $event">-->
<!--</app-control>-->


